# OS files
.DS_Store
Thumbs.db

# Editor directories
.idea/
.vscode/

# Environment files
.env
.env.*

# Python artifacts
__pycache__/
*.py[cod]
.venv/
venv/

# Node artifacts
node_modules/
dist/
build/
